In [ ]:
'''Queren Alcantara's Homework - Data cleaning with Pandas'''

In [ ]:
#Importing the libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [24]:
#Importing data
flights_data = pd.read_csv('flights.csv') #I kept the data in the same folder to help with the process
weather_data_pd = pd.read_csv('weather.csv')
weather_data_np = weather_data_pd.to_numpy()

In [ ]:
#Checking the data
flights_data.head(10)

,Unnamed: 0,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,1,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0
1,2,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0
2,3,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
3,4,2013,1,1,544.0,-1.0,1004.0,-18.0,B6,N804JB,725,JFK,BQN,183.0,1576,5.0,44.0
4,5,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0
5,6,2013,1,1,554.0,-4.0,740.0,12.0,UA,N39463,1696,EWR,ORD,150.0,719,5.0,54.0
6,7,2013,1,1,555.0,-5.0,913.0,19.0,B6,N516JB,507,EWR,FLL,158.0,1065,5.0,55.0
7,8,2013,1,1,557.0,-3.0,709.0,-14.0,EV,N829AS,5708,LGA,IAD,53.0,229,5.0,57.0
8,9,2013,1,1,557.0,-3.0,838.0,-8.0,B6,N593JB,79,JFK,MCO,140.0,944,5.0,57.0
9,10,2013,1,1,558.0,-2.0,753.0,8.0,AA,N3ALAA,301,LGA,ORD,138.0,733,5.0,58.0

In [6]:
#Question 1 - How many flights were there from JFK to SLC? Int
q_1 = len(flights_data[(flights_data['origin'] == 'JFK') & (flights_data['dest'] == 'SLC')]) #use len and a filtering method
print(q_1)

2113

In [ ]:
#Question 2 - How many airlines fly to SLC? Should be int
q_2 = flights_data[flights_data['dest'] == 'SLC']['carrier'].nunique()
print(q_2)

2

In [8]:
#Question 3 - What is the average arrival delay for flights to RDU? float
q_3= flights_data[flights_data['dest'] == 'RDU']['arr_delay'].mean()
print(q_3)

10.052380952380952

In [ ]:
#Question 4 - What proportion of flights to SEA come from the two NYC airports (LGA and JFK)?  float
total_sea_flights = len(flights_data[flights_data['dest'] == 'SEA']) #get the total
nyc_to_sea_flights = len(flights_data[
    (flights_data['dest'] == 'SEA') & 
    (flights_data['origin'].isin(['LGA', 'JFK'])) #specific for LGA and JFK
])

q_4 = nyc_to_sea_flights / total_sea_flights

q_4 #Print the float proportion

0.5332653581442773

In [ ]:
#Question 5 - Which date has the largest average depature delay? Pd slice with date and float
#please make date a column. Preferred format is 2013/1/1 (y/m/d)
avg_dep_delay_by_date = flights_data.groupby(['year', 'month', 'day'])['dep_delay'].mean()
# .nlargest(1) returns a Series (a "pd slice") with the index (date) and the value.
q_5 = avg_dep_delay_by_date.nlargest(1) #Pd slice from what I googled it

#result
q_5

year  month  day
2013  3      8      83.536921
Name: dep_delay, dtype: float64

In [14]:
#Question 6 - Which date has the largest average arrival delay? pd slice with date and float
#same as aboe, but different parameter
avg_arrival_delay_by_date = flights_data.groupby(['year', 'month', 'day'])['arr_delay'].mean()
q_6 = avg_arrival_delay_by_date.nlargest(1)
q_6 #print

year  month  day
2013  3      8      85.862155
Name: arr_delay, dtype: float64

In [16]:
#Question 7 Which flight departing LGA or JFK in 2013 flew the fastest? pd slice with tailnumber and speed
#speed = distance/airtime
nyc_flights = flights_data[
    (flights_data['origin'].isin(['LGA', 'JFK'])) &
    (flights_data['year'] == 2013)
].copy() #learned I have to use copy to not ruin the data. Getting only thos airports and that date

In [18]:
#distance by airtime per hour
nyc_flights['speed'] = nyc_flights['distance'] / (nyc_flights['air_time'] / 60)  

# Find the row with the maximum speed
fastest_flight = nyc_flights.loc[nyc_flights['speed'].idxmax()] #getting the maximum

# Select only the tailnumber and speed as requested
q_7 = fastest_flight[['tailnum', 'speed']]

q_7

tailnum        N666DN
speed      703.384615
Name: 216447, dtype: object

In [23]:
#Question 8 - Replace all nans in the weather pd dataframe with 0s. Pd with no nans
q_8 = weather_data_pd.fillna(0) #using fillna function

q_8 #print

,Unnamed: 0,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib
0,1,EWR,2013,1.0,1.0,0.0,37.04,21.92,53.97,230.0,10.35702,11.918651,0.0,1013.9,10.0
1,2,EWR,2013,1.0,1.0,1.0,37.04,21.92,53.97,230.0,13.80936,15.891535,0.0,1013.0,10.0
2,3,EWR,2013,1.0,1.0,2.0,37.94,21.92,52.09,230.0,12.65858,14.567241,0.0,1012.6,10.0
3,4,EWR,2013,1.0,1.0,3.0,37.94,23.00,54.51,230.0,13.80936,15.891535,0.0,1012.7,10.0
4,5,EWR,2013,1.0,1.0,4.0,37.94,24.08,57.04,240.0,14.96014,17.215830,0.0,1012.8,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8714,8715,JFK,2013,9.0,2.0,20.0,75.20,73.40,94.14,200.0,4.60312,5.297178,0.0,0.0,4.0
8715,8716,JFK,2013,10.0,23.0,10.0,48.92,39.02,68.51,60.0,4.60312,5.297178,0.0,1008.1,10.0
8716,8717,JFK,2013,10.0,23.0,11.0,48.92,39.02,68.51,40.0,4.60312,5.297178,0.0,1008.5,10.0
8717,8718,JFK,2013,12.0,17.0,5.0,26.96,10.94,50.34,40.0,4.60312,5.297178,0.0,1023.9,10.0
8718,8719,LGA,2013,8.0,22.0,22.0,75.92,66.92,73.68,210.0,8.05546,9.270062,0.0,1011.9,10.0

In [29]:
weather_data_np

array([[1, 'EWR', 2013, ..., 0.0, 1013.9, 10.0],
       [2, 'EWR', 2013, ..., 0.0, 1013.0, 10.0],
       [3, 'EWR', 2013, ..., 0.0, 1012.6, 10.0],
       ...,
       [8717, 'JFK', 2013, ..., 0.0, 1008.5, 10.0],
       [8718, 'JFK', 2013, ..., 0.0, 1023.9, 10.0],
       [8719, 'LGA', 2013, ..., 0.0, 1011.9, 10.0]], dtype=object)

In [34]:
#%% Numpy Data Filtering/Sorting Question Answering
#Use weather_data_np
#Questions 9, 10 and 11 done with the try block.

try:
    month_col_index = weather_data_pd.columns.get_loc('month')
    humid_col_index = weather_data_pd.columns.get_loc('humid')
    
    #Question 9 How many observations were made in Feburary? Int
    # Create a boolean mask where month == 2
    feb_mask = (weather_data_np[:, month_col_index] == 2)
    #Get only February observations
    feb_observations = weather_data_np[feb_mask]
    q_9 = feb_observations.shape[0] # .shape[0] gives the number of rows
    print(f"Q9 Answer: {q_9}")

    #Question 10 What was the mean for humidity in February? Float
    # Get the humidity column from our February observations
    # Convert to float
    feb_humidity = feb_observations[:, humid_col_index].astype(float)
    # Use nanmean to ignore NaNs. I kinda of forgot to filter NaNs out
    q_10 = np.nanmean(feb_humidity)
    print(f"Q10 Answer: {q_10}")

    #Question 11 What was the std for humidity in February? Float
    # Use nanstd ignoring NaNs
    q_11 = np.nanstd(feb_humidity) #There's a function for this
    print(f"Q11 Answer: {q_11}")

except KeyError as e:
    print(f"\nError for NumPy questions: Column not found: {e}")
    print("Could not answer Q9, Q10, or Q11.")
    q_9 = q_10 = q_11 = "Error"

Q9 Answer: 671
Q10 Answer: 62.91815201192251
Q11 Answer: 20.33690087674334