In [3]:
import pandas as pd
import numpy as np

In [4]:
diabetic_data = pd.read_csv('diabetic_data.csv')
IDS_mapping = pd.read_csv('IDs_mapping.csv')

In [5]:
diabetic_data.head(10)

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
5,35754,82637451,Caucasian,Male,[50-60),?,2,1,2,3,...,No,Steady,No,No,No,No,No,No,Yes,>30
6,55842,84259809,Caucasian,Male,[60-70),?,3,1,2,4,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
7,63768,114882984,Caucasian,Male,[70-80),?,1,1,7,5,...,No,No,No,No,No,No,No,No,Yes,>30
8,12522,48330783,Caucasian,Female,[80-90),?,2,1,4,13,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
9,15738,63555939,Caucasian,Female,[90-100),?,3,3,4,12,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [ ]:
#Example of a Melt operation, I will create a dataframe that is based on the patient number.
melt_diabetic_data = diabetic_data.melt(id_vars=['encounter_id'], var_name='measurement', value_name='value')
melt_diabetic_data.head(10) #check the first 10 rows of the melted dataframe

   encounter_id  measurement      value
0       2278392  patient_nbr    8222157
1        149190  patient_nbr   55629189
2         64410  patient_nbr   86047875
3        500364  patient_nbr   82442376
4         16680  patient_nbr   42519267
5         35754  patient_nbr   82637451
6         55842  patient_nbr   84259809
7         63768  patient_nbr  114882984
8         12522  patient_nbr   48330783
9         15738  patient_nbr   63555939

In [13]:
#Example of Pivot operation to turn the data back to its original form
pivot_diabetic_data = melt_diabetic_data.pivot(index='encounter_id', columns='measurement', values='value')
pivot_diabetic_data.head(10) #check the first 10 rows of the pivoted dataframe

measurement,A1Cresult,acarbose,acetohexamide,admission_source_id,admission_type_id,age,change,chlorpropamide,citoglipton,diabetesMed,...,pioglitazone,race,readmitted,repaglinide,rosiglitazone,time_in_hospital,tolazamide,tolbutamide,troglitazone,weight
encounter_id,,,,,,,,,,,,,,,,,,,,,
12522,NaN,No,No,4,2,[80-90),Ch,No,No,Yes,...,No,Caucasian,NO,No,No,13,No,No,No,?
15738,NaN,No,No,4,3,[90-100),Ch,No,No,Yes,...,No,Caucasian,NO,No,Steady,12,No,No,No,?
16680,NaN,No,No,7,1,[40-50),Ch,No,No,Yes,...,No,Caucasian,NO,No,No,1,No,No,No,?
28236,NaN,No,No,7,1,[40-50),No,No,No,Yes,...,No,AfricanAmerican,>30,No,No,9,No,No,No,?
35754,NaN,No,No,2,2,[50-60),No,No,No,Yes,...,No,Caucasian,>30,No,No,3,No,No,No,?
36900,NaN,No,No,4,2,[60-70),Ch,No,No,Yes,...,No,AfricanAmerican,<30,No,No,7,No,No,No,?
40926,NaN,No,No,7,1,[40-50),Ch,No,No,Yes,...,No,Caucasian,<30,Up,No,7,No,No,No,?
42570,NaN,No,No,7,1,[80-90),No,No,No,Yes,...,No,Caucasian,NO,No,No,10,No,No,No,?
55842,NaN,No,No,2,3,[60-70),Ch,No,No,Yes,...,No,Caucasian,NO,No,No,4,No,No,No,?
62256,NaN,No,No,2,3,[60-70),No,No,No,Yes,...,No,AfricanAmerican,>30,No,No,1,No,No,No,?

In [ ]:
# Example of aggregation and groupby operation to find the average number of medications for patients on diabetes medication
agg_diabetic_data = diabetic_data.groupby('diabetesMed')['num_medications'].mean()
print(agg_diabetic_data)

diabetesMed
No     13.242063
Yes    16.852022
Name: num_medications, dtype: float64

In [17]:
# For iteration example, we will iterate through the first 10 rows of the diabetic_data dataframe
for index, row in diabetic_data.head(10).iterrows():
    
    # We will then use specific columns using row['column_name']
    patient = row['patient_nbr']
    days = row['time_in_hospital']
    
    print(f"Row {index}: Patient {patient} stayed for {days} days in the hospital.")

Row 0: Patient 8222157 stayed for 1 days in the hospital.
Row 1: Patient 55629189 stayed for 3 days in the hospital.
Row 2: Patient 86047875 stayed for 2 days in the hospital.
Row 3: Patient 82442376 stayed for 2 days in the hospital.
Row 4: Patient 42519267 stayed for 1 days in the hospital.
Row 5: Patient 82637451 stayed for 3 days in the hospital.
Row 6: Patient 84259809 stayed for 4 days in the hospital.
Row 7: Patient 114882984 stayed for 5 days in the hospital.
Row 8: Patient 48330783 stayed for 13 days in the hospital.
Row 9: Patient 63555939 stayed for 12 days in the hospital.